$font-stack:    Arial, sans-serif;
$primary-color: #FFB74D;
$sup-color-1: #3387F1;
$supp-color-2: #3AB3FD;
$supp-color-3: #57A7F1;
$supp-color-4: #B8F1FF;
$supp-color-5: #F25C5C;

$base-color: #F2F2F2;
$outline-color: #C6C6C8;
$text-color: #333333;