body { 
    background-color: $supp-color-3;
}

// still unsure about this method
.page-constraint {
    max-height: 736px;
    position: relative;
}

.div-backing { 
    background-color: $white;
    border-radius: 20px;
    padding: 30px;
}

.div-heading { 
    text-align: center;
    align-self: center;
    margin: 0 auto;
    padding-top: 50px;
}

.modal-backing {
    background-color: $supp-color-3;
    padding: 30px;
    height: 90vh;
    margin: 2px;
    color: $white;
}

.form-backing {
    background-color: $white;
    border-radius: 15px;
    padding: 30px;
}


@media only screen and (min-width: 375px) { 
    .form-backing {
        padding: 50px;
    }
}

@media only screen and (min-width: 414px) {
    .form-backing {
        padding: 50px;
    }
}