<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Companion app</title>
</head>
<body>
    <h1>Add a Mood</h1>
    <form action="/moods" method="POST">
        <input type="text" placeholder="mood" name="mood">
        <button type="submit">Submit</button>
    </form>
</body>
</html>