<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Companion app</title>
</head>
<body>
  <h2>Moods</h2>
    <ul class="moods">
		{{#each moods}}
		<li>
	  		<div>{{mood}} <a href="/confirm-delete-mood/{{_id}}"> Delete</a> <a href="/edit-mood/{{_id}}"> Edit</a></div>
	  	</li>
		{{/each}}
  </ul>
  <a href="/add-mood"><button>Add a Mood</button></a>
</body>
</html>