<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Companion app</title>
</head>
<body>
  {{!-- <a href="/add-note">Add Note</a> --}}
  <h2>Moods</h2>
    <ul class="moods">
		{{#each moods}}
		<li>
	  		<div>{{mood}}</div>
	  	</li>
		{{/each}}
  </ul>
</body>
</html>