$font-stack:    Helvetica, sans-serif;
$primary-color: #FFB74D;
$secondary-color: #3387F1;
$supp-color-1: #3AB3FD;
$supp-color-2: #57A7F1;
$supp-color-3: #B8F1FF;
$background-color: #F2F2F2;
$outline-color: #C6C6C8;
$black-color: #333333;

body {
    font: 100% $font-stack;
    color: $primary-color;
}