.hda-Logo {
  padding-top: 30px;
  padding-bottom: 30px;
}

.hda-h1 {
  font-size: 2.441em;
}

.hda-h2 {
  font-size: 1.953em;
}

.hda-h3 {
  font-size: 1.563em;
}

.hda-h4 {
  font-size: 1.25em;
}

.hda-p {
  font-size: 1em;
}

.hda-xs-p {
  font-size: 0.8em;
}

.hda-SplastText {
  bottom: 0;
  text-align: center;
  position: relative;
  color: #FFFFFF;
  padding-top: 30%;
}

.hda-SplashWelcome {
  color: #3387F1;
}

.hda-SplashCTA {
  color: #FFB74D;
}

body {
  font-family: "Arial Rounded MT Bold", sans-serif;
  margin-right: 8px;
}

.hda-message {
  line-height: 34px;
  letter-spacing: 3%;
  height: 65px;
  width: 300px;
  font-size: 1.95em;
  text-align: center;
  padding: 5px;
}

.hdo-Navbar {
  background-color: #F2F2F2;
  box-shadow: 0px -1px 4px #C6C6C8;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
}
.hdo-Navbar .hda-Icon {
  padding: 15px;
  border: 5px solid #F2F2F2;
  text-align: center;
}
.hdo-Navbar .hda-Icon:active {
  border-top: 5px solid #FFB74D;
}

body {
  background-color: #57A7F1;
  margin-left: 0;
}

.hdt-SplashBacking {
  background: #3387f1;
  background: linear-gradient(180deg, #3387f1 0%, #3ab3fd 100%);
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.hdo-DivBacking {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  color: black;
}

.hdo-SplashBacking {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
}

.hda-DivHeading {
  padding-top: 10px;
  padding-left: 15px;
  color: #FFFFFF;
}

.hda-CenterText {
  text-align: center;
  align-self: center;
  margin: 0 auto;
  padding-top: 30px;
}

.hdt-ModalBacking {
  background-color: #57A7F1;
  padding: 30px;
  height: 90vh;
  margin: 2px;
}

.hdo-FormBacking {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 30px;
}

.hdo-padding {
  padding: 5px;
}

.hdp-bottom-padding {
  padding-bottom: 100px;
}

@media only screen and (min-width: 375px) {
  .hdo-FormBacking {
    padding: 50px;
  }
}
.hda-btn-primary-solid {
  width: 95%;
  height: 50px;
  background-color: #FFB74D;
  border: 3px solid #FFB74D;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #C6C6C8;
  margin: 6px;
  border-radius: 30px;
  padding: 0.5rem;
  text-align: center;
}

.hda-btn-primary-solid-alt {
  width: 95%;
  height: 50px;
  background-color: #3387F1;
  border: 3px solid #3387F1;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #C6C6C8;
  margin: 6px;
  border-radius: 30px;
  padding: 0.5rem;
  text-align: center;
}

.hda-btn-primary-outline {
  width: 95%;
  height: 50px;
  background-color: #FFFFFF;
  border: 3px solid #FFB74D;
  color: #FFB74D;
  box-shadow: 4px 4px 4px #C6C6C8;
  margin: 6px;
  border-radius: 30px;
}

.hda-btn-secondary-default {
  width: 100px;
  height: 50px;
  background-color: #FFB74D;
  border: 3px solid #FFB74D;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #C6C6C8;
  margin: 6px;
  border-radius: 10px;
  padding: 3px;
}

.hda-btn-secondary-alert {
  width: 100px;
  height: 50px;
  background-color: #F25C5C;
  border: 3px solid #F25C5C;
  color: #FFFFFF;
  box-shadow: 4px 0px 4px #C6C6C8;
  margin: 6px;
  border-radius: 10px;
  padding: 3px;
}

.hda-btn-secondary-edit {
  width: 100px;
  height: 50px;
  background-color: #3AB3FD;
  border: 3px solid #3AB3FD;
  color: #FFFFFF;
  box-shadow: 4px 0px 4px #C6C6C8;
  margin: 6px;
  border-radius: 10px;
  padding: 3px;
}

.hda-panel {
  width: 100%;
  height: 180px;
  background-color: #FFFFFF;
  border: 3px solid #FFFFFF;
  color: #FFB74D;
  margin: 6px;
  border-radius: 25px;
  padding: 3px;
  text-align: center;
}

label {
  margin: 7px;
  color: #3AB3FD;
}

.hda-textarea-default {
  width: 100%;
  height: 90px;
  border: 3px solid #EDF5FD;
  border-radius: 10px;
  padding: 10px;
}

.hda-input-default {
  width: 100%;
  height: 40px;
  border: 3px solid #EDF5FD;
  border-radius: 10px;
  padding: 10px;
}

/*# sourceMappingURL=main.css.map */
