.h--1 {
  font-size: 2.441em;
}

.h--2 {
  font-size: 1.953em;
}

.h--3 {
  font-size: 1.563em;
}

.h--4 {
  font-size: 1.25em;
}

.p--default {
  font-size: 1em;
}

.p--xs {
  font-size: 0.8em;
}

body {
  font-family: "Arial Rounded MT Bold", sans-serif;
  margin-left: 8px;
  margin-right: 8px;
}

.message {
  line-height: 34px;
  letter-spacing: 3%;
  height: 65px;
  width: 300px;
  font-size: 1.95em;
  text-align: center;
}

.Navbar {
  background-color: #F2F2F2;
  box-shadow: 0px -1px 4px #C6C6C8;
  left: 0;
  bottom: 0;
  position: fixed;
}
.Navbar .Icon {
  padding: 15px;
  border: 5px solid #F2F2F2;
  text-align: center;
}
.Navbar .Icon:active {
  border-top: 5px solid #FFB74D;
}

body {
  background-color: #57A7F1;
}

.page-constraint {
  max-height: 736px;
  position: relative;
}

.div-backing {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
  color: black;
}

.div-heading {
  text-align: center;
  align-self: center;
  margin: 0 auto;
  padding-top: 50px;
}

.center {
  text-align: center;
  align-self: center;
  margin: 0 auto;
  padding-top: 50px;
}

.modal-backing {
  background-color: #57A7F1;
  padding: 30px;
  height: 90vh;
  margin: 2px;
  color: #FFFFFF;
}

.form-backing {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 30px;
}

@media only screen and (min-width: 375px) {
  .form-backing {
    padding: 50px;
  }
}
@media only screen and (min-width: 414px) {
  .form-backing {
    padding: 50px;
  }
}
.btn-primary-solid {
  width: 95%;
  height: 50px;
  background-color: #FFB74D;
  border: 3px solid #FFB74D;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #C6C6C8;
  margin: 6px;
  border-radius: 30px;
  padding: 3px;
  text-align: center;
}

.btn-primary-solid-alt {
  width: 95%;
  height: 50px;
  background-color: #3387F1;
  border: 3px solid #3387F1;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #C6C6C8;
  margin: 6px;
  border-radius: 30px;
  padding: 3px;
  text-align: center;
}

.btn-primary-outline {
  width: 95%;
  height: 50px;
  background-color: #FFFFFF;
  border: 3px solid #FFB74D;
  color: #FFB74D;
  box-shadow: 4px 4px 4px #C6C6C8;
  margin: 6px;
  border-radius: 30px;
}

.btn-secondary-default {
  width: 100px;
  height: 50px;
  background-color: #FFB74D;
  border: 3px solid #FFB74D;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #C6C6C8;
  margin: 6px;
  border-radius: 10px;
  padding: 3px;
}

.btn-secondary-alert {
  width: 100px;
  height: 50px;
  background-color: #F25C5C;
  border: 3px solid #F25C5C;
  color: #FFFFFF;
  box-shadow: 4px 0px 4px #C6C6C8;
  margin: 6px;
  border-radius: 10px;
  padding: 3px;
}

.btn-secondary-edit {
  width: 100px;
  height: 50px;
  background-color: #3AB3FD;
  border: 3px solid #3AB3FD;
  color: #FFFFFF;
  box-shadow: 4px 0px 4px #C6C6C8;
  margin: 6px;
  border-radius: 10px;
  padding: 3px;
}

.panel {
  width: 170px;
  height: 180px;
  background-color: #FFFFFF;
  border: 3px solid #FFFFFF;
  color: #FFB74D;
  box-shadow: 4px 2px 2px #C6C6C8;
  margin: 6px;
  border-radius: 25px;
  padding: 3px;
  text-align: center;
}

label {
  margin: 7px;
  color: #3AB3FD;
}

.textarea-default {
  width: 220px;
  height: 90px;
  border: 3px solid #EDF5FD;
  border-radius: 10px;
  padding: 10px;
}

.input-default {
  width: 100%;
  height: 40px;
  border: 3px solid #EDF5FD;
  border-radius: 10px;
  padding: 10px;
}

/*# sourceMappingURL=main.css.map */
